body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}